
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-style: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font-family: Lora;
}

input,
button,
p,
a,
div,
section,
article {
  transition: all 0.5s ease-out;
}